@model dynamic
@{
    ViewBag.Title = "Simple Story Board";
}
@section HeaderBottom
{
    <script src="@Url.Content("~/Scripts/live.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/storyBoard.js")" type="text/javascript"> </script>
    <script type="text/javascript">
        $(function () {

            function showWorkingSpinner() {
                $("#workingSpinner").stop().clearQueue().delay(750).fadeIn();
            }

            function hideWorkingSpinner() {
                $("#workingSpinner").stop().clearQueue().fadeOut();
            }

            function getBody() {
                return $("div#body");
            }

            var sendMessageToServer = function (msg) {

                showWorkingSpinner();

                processMessages([msg], getBody());

                $.connection.storyBoardHub.sendToServer(JSON.stringify(msg))
                    .done(function () { hideWorkingSpinner(); });
            };

            var storyWasMovedHandler = function (event, ui) {
                var movedLi = $(ui.item.context);

                var msg = createMoveStoryMessage(movedLi);

                sendMessageToServer(msg);
            };

            var addNewStoryHandler = function (ui) {
                var ul = $(ui.target).closest(".list").children("ul");
                var newStoryName = prompt("New Story Name", "");
                if (newStoryName === null || newStoryName === "") {
                    return;
                }

                var msg = createAddNewStoryMessage(ul, newStoryName);

                sendMessageToServer(msg);
            };

            var changeStoryHandler = function (ui) {
                var li = $(ui.target).closest("li");
                var currentStoryName = li.children("div").text();
                var newStoryName = prompt("Story Name", currentStoryName);
                if (newStoryName === null) {
                    return;
                }

                var msg = createChangeOrRemoveStoryMessage(li, newStoryName);

                sendMessageToServer(msg);
            };

            var receiveMessagesFromServer = function (data) {

                var msgs = JSON.parse(data).Messages;

                processMessages(msgs, getBody());

                makeListsSortable();
            };

            function makeListsSortable() {
                $(".list ul").sortable({
                    connectWith: ".list ul",
                    distance: 15,
                    cancel: '.addNewStory',
                    stop: storyWasMovedHandler
                }).disableSelection();
            }

            showWorkingSpinner();
            $(".addNewStory").live("click", addNewStoryHandler);
            $(".list ul li").live("click", changeStoryHandler);
            $.connection.storyBoardHub.sendToClient = receiveMessagesFromServer;
            $.connection.hub.start()
                .done(function () { hideWorkingSpinner(); })
                .fail(function () { alert("Could not Connect!"); });
        });
    </script>
}

<div id="mainmenu">
    <div id="logo">
        TRPS
    </div>
    <div id="title">
        ITERATION 1 STORY BOARD
    </div>
    <img id="workingSpinner" src="@Url.Content("~/Content/working.gif")" style="float:right;padding: 4px 7px 0 0;"/>
</div>

<div id="body">
            
</div>

