@model dynamic
@{
    ViewBag.Title = "Simple Story Board";
}
@section HeaderBottom
{
    <script src="@Url.Content("~/Scripts/live.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/storyBoard.js")" type="text/javascript"> </script>
    <script type="text/javascript">
        $(function () {

            var storyWasMovedHandler = function (event, ui) {
                var movedLi = $(ui.item.context);
                    
                var msg = createMoveStoryMessage(movedLi);

                $.connection.storyBoardHub.sendToServer(JSON.stringify(msg));
            };

            var addNewStoryHandler = function (ui) {
                var ul = $(ui.target).closest(".list").children("ul");
                var newStoryName = prompt("New Story Name", "");
                if (newStoryName === null || newStoryName === "") {
                    return;
                }

                var msg = createAddNewStoryMessage(ul, newStoryName);

                $.connection.storyBoardHub.sendToServer(JSON.stringify(msg));
            };

            var changeStoryHandler = function (ui) {
                var li = $(ui.target).closest("li");
                var currentStoryName = li.children("div").text();
                var newStoryName = prompt("Story Name", currentStoryName);
                if (newStoryName === null) {
                    return;
                }

                var msg = createChangeOrRemoveStoryMessage(li, newStoryName);

                $.connection.storyBoardHub.sendToServer(JSON.stringify(msg));
            };

            $(".addNewStory").live("click", addNewStoryHandler);
            
            $(".list ul").live("click", "li", changeStoryHandler);

            $.connection.storyBoardHub.sendToClient = function (data) {

                var msgs = JSON.parse(data);

                processMessages(msgs, $("div#body"));

                $(".list ul").sortable({
                    connectWith: ".list ul",
                    distance: 15,
                    cancel: '.addNewStory',
                    stop: storyWasMovedHandler
                }).disableSelection();
            };

            $.connection.hub.start()
                .fail(function () { alert("Could not Connect!"); });
        });
    </script>
}

<div id="mainmenu">
    <div id="logo">
        TRPS
    </div>
    <div id="title">
        ITERATION 1 STORY BOARD
    </div>
    <div id="working" style="display:none;">
        <img src="@Url.Content("~/Content/working.gif")"/>
    </div>
</div>

<div style="clear: both;"></div>

<div id="body">
            
</div>